{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block vue %}
    <h1>S'insrire</h1>
    {{ form_start(registrationForm) }}
    <button type="submit" class="btn">S'inscrire</button>
    {{ form_end(registrationForm) }}

{% endblock %}

