{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block vue %}
    <h1>S'insrire</h1>

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.prenom) }}
    {{ form_row(registrationForm.plainPassword, {
        label: 'Password'
    }) }}
    <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}

{% endblock %}

