<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Sandbox{% endblock %}</title>
    <meta charset="UTF-8" />
    <link href="style.css" rel="stylesheet">

</head>
<body class="body">
<div>
    <img srcset="{{ asset('img/header.jpg') }}">
</div>
<div id="menu">
    {% include 'menu.html.twig' %}
</div>
<div id="vue">
    <h1>{% block titre_principal %}
            {% if app.user %}
                Bienvenue {{ app.user.nom }}
            {% else %}
                Bienvenue Visiteur
            {% endif %}
            {% endblock %}</h1>
    {% block vue %}{% endblock %}
</div>

<div id="footer">
    {% include 'footer.html.twig' %}
</div>
</body>
</html>

