<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Sandbox{% endblock %}</title>
    <meta charset="UTF-8" />
</head>
<body>

{#<img src="public\image\header.jpg" alt="">#}
<div id="menu">
    {% include 'menu.html.twig' %}
</div>
<div id="vue">

    <h1>{% block titre_principal %}Bienvenue{% endblock %}</h1>
    {% block vue %}{% endblock %}
</div>

<div id="footer">
    {% include 'footer.html.twig' %}
</div>
</body>
</html>