<style>
    #banner {
        width: 100%;
        height: 200px;
        z-index: -1;
    }
</style>
<body>
<img id="banner" src="https://th.bing.com/th/id/OIP.LPYUEbcq5GzPPU7IogbGTgHaEK?w=312&h=180&c=7&r=0&o=5&pid=1.7" alt="Banner Image"/>
</body>