<html>
<head>
    <style>
        ul{
            list-style-type: none;
            margin: 8px;
            padding: 12px;
            overflow: hidden;
            background-color: #AAAAAA;
        }
        li{
            float: left;
        }
        li a{
            display: inline;
            color: blue;
            text-align: center;
            text-decoration: none;
            padding: 10px;
        }
        li a:hover{
            background-color: black;
        }
    </style>
{#    <link rel="stylesheet" href="css/style.css">#}
</head>
<body>
<nav class="">
    <div class="container">
        <div id="navbar">
            <ul id="navbar">
                <li class="">
                    <a href="">Acceuil</a>
                </li>
                <li class="">
                    <a href="">Produits</a>
                </li>
                <li class="">
                    <a href="">Nous contacter</a>
                </li>
                <li class="">
                    <a href="">Panier</a>
                </li>
            </ul>
        </div>
    </div>

</nav>
</body>
</html>