<html>
<head>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<nav class="">
    <div class="container">
        <div id="navbar">
            <ul id="navbar">
                <li class="">
                    <a href="">Acceuil</a>
                </li>
                <li class="">
                    <a href="">Produits</a>
                </li>
                <li class="">
                    <a href="">Nous contacter</a>
                </li>
                <li class="">
                    <a href="">Panier</a>
                </li>
            </ul>
        </div>
    </div>

</nav>
</body>
</html>