ul{
    list-style-type: none;
    margin: 8px;
    padding: 12px;
    overflow: hidden;
    background-color: #AAAAAA;
}
li{
    float: left;
}
li a{
    display: inline;
    color: blue;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}
li a:hover{
    background-color: black;
}

